#header-navbar {

  .navbar-brand {
    background: transparent;
    padding: 13px 0 10px 15px;
    width: 236px;
	height: 70px;
    
    img {
      height: 50px;
      margin-right: 10px;
      vertical-align: middle;
      @media screen and (max-width: $screen-sm) {
        height: 26px;
      }
    }
  }
}

.nav.navbar-nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
  text-transform: none;
  
  &:hover,
  &:focus {
    border-bottom: 2px solid white;
  }
}